.quiz-heading {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.quiz-contents {
  max-width: 640px;
  margin: 16px auto;
}

.quiz-contents .quiz-error {
  color: red;
}

.quiz-contents .quiz-questions {
  text-align: left;
  word-break: break-word;
}
