.error-template .error-container {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 56px 24px;
}

.error-template .error-container .error-heading {
  margin-top: 32px;
  margin-bottom: 32px;
}

.error-template .error-container .error-message {
  font-size: 16px;
  line-height: 1.8;
  white-space: pre-wrap;
}
