.quiz-results {
  text-align: center;
  margin: 0 auto;
}

.quiz-results .quiz-score {
  width: 200px;
  margin: inherit;
}

.quiz-score.weak {
  background-color: var(--red-color);
}

.quiz-score.average {
  background-color: var(--yellow-color);
}

.quiz-score.good {
  background-color: var(--green-color);
}

#redirectBtn {
  background-color: gray;
  color: white;
  width: 400px;
  height: 32px;
}
